.hero-container {

    .hero-wrapper {

        .hero-text-wrapper {
            text-align: center;
        }
        
        .hero-visual-wrapper {
            display: block;
            margin: auto;
        }
    }
}