/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$button-lg--padding:                1.3rem;
$button-md--padding:                1rem;
$button-sm--padding:                0.7rem;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.link-button-wrapper {
    border-radius: 5px;
    padding: $button-md--padding;
    background-color: $blue-1;
}